### Symfony / PHP ###
/var/
/vendor/
/public/bundles/

### Environment / Secrets ###
.env
.env.dev
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php

### Python / ML ###
.venv/
python/__pycache__/
python/model/*.pkl
python/data/*.csv

### IDE / OS ###
.vscode/
.DS_Store

### Docker ###
compose.override.yaml

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###
